<section class="landing-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="landing-content">

                   <p><strong>Le Choeur et l'Orchestere</strong> créé par Jorge Lozano-Corres et maintenant
                    dirigé par Connie Glessner et Cyrille Kirilov, est un ensemble choral composé d’environ 40
                    chanteurs, femmes et hommes ayant un bon niveau en chant, membres de l’organisation ou venant de
                    l’extérieur.
                    Les œuvres qui y sont travaillées appartiennent au répertoire de la musique classique et
                    romantique, de l’opéra, et aussi à ceux de la musique mexicaine et latino-américaine et des
                    musiques du Monde.
                    Le chœur participe à tous les événements importants de la vie de l’UNESCO, notamment : cérémonies
                    d’ouverture et de clôture de la Conférence générale, remises de prix, anniversaires.
                    L’orchestre et Chœur de l’UNESCO organise aussi des concerts extérieurs, à Paris, en province,
                    ainsi qu’à l’étranger. Il collabore régulièrement avec d’autres formations. C’est dans ce but qu’a
                    été créée l’association « Les voix unies » qui intervient lorsque l’Orchestre et Chœur se produit à
                    l’extérieur de l’UNESCO au profit d’œuvres humanitaires.</p> 
                    <a href="" class="btn btn-light">Discover more</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="landing-content">
                    <img src="https://images.unsplash.com/photo-1534605495941-b602825f36a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="">
                </div>
            </div>
        </div>
    </div>
</section>