{{ define "main" }}
<main>
    <div class="main__header">
        <div class="container">
            <h2>{{.Title}}</h2>
            <p>{{ .Params.subtitle }}</p>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-8">
                <h3>Prochainement</h3>
                <br>
                <!-- Ranges through content/news/*.md -->
                
                {{ range first 4 .Pages }}
                <a href="{{.Permalink}}" style="display: block !important">
                    <div class="card mb-4" id="card-hover">
                        <div class="card-body">
                            <h3><a class="text-dark" href="{{.Permalink}}">{{.Title}} </a></h3>
                            <hr>
                            <div class="news_meta">
                                <strong class="text-dark">{{ .Date.Format "2" }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}, {{ .Date.Format "2006" }}</strong>         
                                &middot;
                                <span class="text-capitalize text-secondary">{{ .Type }}</span>
                                &middot;
                                {{ if (isset .Params "price") }}
                                <span class="text-secondary">Entrée : {{ .Params.price }} €</span>
                                {{ else }}
                                <span>Entrée : Gratuit</span>
                                {{ end }}
                                &middot;
                                {{ if eq .Date.YearDay now.YearDay }}<span class="badge badge-success">Aujourd'hui</span>
                                {{ else if .Date.After now }}<span class="badge badge-dark">Prochainement</span>
                                {{ else if .Date.Before now }}<span class="badge badge-secondary">Terminé</span>
                                {{ end }}
                                <br>
                                <span class="text-muted">{{ .Params.adress }}</span>
                            </div>
                            <br>
                            <p>{{slicestr .Summary 0 200}}...</p>
                        </div>
                    </div>
                 </a>
                {{ end }}
            </div>
            <div class="col-lg-4">
                    <h3>Précédement</h3>
                    <br>
                    {{ range after 3 .Pages  }}
                    <h3><a class="text-muted" href="{{.Permalink}}">{{.Title}}</a></h3>
                    <span class="text-muted">{{ .Date.Format "2" }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}, {{ .Date.Format "2006" }}</span>
                    <br><br>
                    <p class="text-muted">{{slicestr .Summary 0 100}}...</p>
                    <div class="text-right">
                        <a class="btn text-muted" href="{{.Permalink}}">En savoir plus</a>
                    </div>
                    <hr>
                    {{ end }}

            </div>
        </div>
    </div>
</main>
{{ end }}