{{ define "main" }}
<main>
          <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
          <header class="main__header">
              <div class="container">
                <h1>{{.Title}}</h1>
                {{.Content}}
            </div>
            </header>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-8">
                <h2>Prochainement</h2>
                <br>
                <!-- Ranges through content/news/*.md -->
                {{ range first 1 .Pages }}
                <div class="card mb-3">
                    <div class="card-body">
                        <h3><a class="text-dark" href="{{.Permalink}}">{{.Title}} </a><span class="badge badge-warning">Nouveau</span></h3>
                        <div class="news_meta">
                            <span class="text-warning">{{ .Date.Format "2" }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }},
                                {{ .Date.Format "2006" }}</span>
                            &middot;
                            <span><strong class="text-capitalize">{{ .Type }}</strong></span>
                            &middot;
                            {{ if (isset .Params "price") }}
                            <span>Entrée : {{ .Params.price }} €</span>
                            {{ else }}
                            <span>Entrée : Gratuit</span>
                            {{ end }}
                            <br>
                            <span class="text-muted">{{ .Params.adress }}</span>
                        </div>
                        <br>
                        <p>{{slicestr .Summary 0 200}}...</p>
                        <div class="text-right">
                            <a class="btn btn-dark btn-sm" href="{{.Permalink}}">Découvrir</a>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ range first 2 (after 1 .Pages) }}
                <div class="card mb-3">
                    <div class="card-body">
                        <h3><a class="text-dark" href="{{.Permalink}}">{{.Title}}</h3>
                        <div class="news_meta">
                            <span class="text-warning">{{ .Date.Format "2" }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }},
                                {{ .Date.Format "2006" }}</span>
                            &middot;
                            <span><strong class="text-capitalize">{{ .Type }}</strong></span>
                            &middot;
                            {{ if (isset .Params "price") }}
                            <span>Entrée : {{ .Params.price }} €</span>
                            {{ else }}
                            <span>Entrée : Gratuit</span>
                            {{ end }}
                            <br>
                            <span class="text-muted">{{ .Params.adress }}</span>
                        </div>
                        <br>
                        <p>{{slicestr .Summary 0 200}}...</p>
                        <div class="text-right">
                            <a class="btn btn-dark btn-sm" href="{{.Permalink}}">Découvrir</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-md-4">
                    <h2>Précédement</h2>
                    <br>
                    {{ range after 3 .Pages  }}
                    <h3><a class="text-muted" href="{{.Permalink}}">{{.Title}}</a></h3>
                    <span class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</span>
                    <br><br>
                    <p class="text-muted">{{slicestr .Summary 0 100}}...</p>
                    <div class="text-right">
                        <a class="btn text-muted" href="{{.Permalink}}">En savoir plus</a>
                    </div>
                    <hr>
                    {{ end }}

            </div>
        </div>
    </div>
</main>
{{ end }}