{{ define "main" }}
<div class="container" id="single">
    <div class="row">
        <div class="col-md-8">
            <article id="main">
                <h1 class="">{{ .Title }}</h1>
                <h4 class="text-muted">{{ .PublishDate.Format "Monday, January 2, 2006" }}</h4>
                <hr>
                <div>
                    <article id="content">
                        {{ .Content }}
                    </article>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <aside id="meta">
                <section>
                <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ .Date.Format "Monday Jan 2, 2006" }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted"></i>Début : {{ .Date.Format "15:04"}}</h6>
                          <hr>
                          <p class="card-text"><i class="fas fa-map-marker-alt mr-2"></i> {{ .Params.adress }}</p>
                          <hr>
                          {{ if ( isset .Params "price") }}
                          <p class="card-text"><i class="fas fa-ticket-alt mr-2"></i> Entrée : {{ .Params.price }} €</p>
                          {{ else }}   
                          <p class="card-text"><i class="fas fa-ticket-alt"></i> Entrée : Gratuit</p>
                          {{ end }}
                        </div>
                      </div>
                    </section>
                    {{ with .Params.topics }}
                    <ul id="topics">
                        {{ range . }}
                        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ with .Params.tags }}
                    <ul id="tags">
                        {{ range . }}
                        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div>
                    {{ with .PrevInSection }}
                    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                </div>
            </aside>
        </div>
    </div>
</div>
{{ end }}