{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article id="main">
                <h1 class="">{{ .Title }}</h1>
                <div class="news_meta">
                    <span>By: Jordan Myller </span>//
                    <span class="badge badge-primary">{{ .PublishDate.Format "January 2, 2006" }}</span>
                </div>
                <hr>
                <div>
                    <article id="content">
                        {{ .Content }}
                    </article>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <aside id="meta">
                <section>
                <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><i class="far fa-calendar-alt"></i> {{ .Date.Format "Monday Jan 2, 2006" }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-clock"></i> {{ .Date.Format "15:04" }} à {{ .ExpiryDate.Format "15:04"}}</h6>
                          <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ .Params.adress }}</p>
                          {{ if ( isset .Params "price") }}
                          <p class="card-text"><i class="fas fa-ticket-alt"></i> Ticket : {{ .Params.price }} €</p>
                          {{ else }}   
                          <p class="card-text"><i class="fas fa-ticket-alt"></i> Ticket : Gratuit</p>
                          {{ end }}
                          <a href="#" class="card-link">Get Ticket</a>
                        </div>
                        <img src="" class="card-img-top" alt="...">
                      </div>
                    </section>
                    {{ with .Params.topics }}
                    <ul id="topics">
                        {{ range . }}
                        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ with .Params.tags }}
                    <ul id="tags">
                        {{ range . }}
                        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div>
                    {{ with .PrevInSection }}
                    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                </div>
            </aside>
        </div>
    </div>
</div>
{{ end }}