{{ define "main" }}
<div class="container" id="single">
    <div class="row">

        {{/* Column 1 */}}
        <div class="col-lg-12 col-md-12">
            <a href="{{ absURL "news" }}" class="btn btn-dark btn-sm mb-3"><i class="far fa-newspaper mr-2"></i>Retour aux Actualités</a>
            <article id="main">
                <div class="card">
                    <div class="card-body">
                            <h1 class="card-title news-title">{{ .Title }}</h1>
                            <div class="news_meta">
                                <span class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</span>
                                &middot;
                                {{ if .Params.Author }}
                                <span class="text-dark">{{ .Params.Author }}</span>
                                {{ end }}
                                <hr>
                        <div>
                            {{ .Content }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="news-links">
                            {{ with .PrevInSection }}
                            <a class="previous text-muted" href="{{.Permalink}}"><i class="fas fa-angle-double-left mr-2"></i>Précedent</a>
                            {{ end }}
                            {{ with .NextInSection }}
                            <a class="next text-muted" href="{{.Permalink}}">Suivant<i class="fas fa-angle-double-right ml-2"></i></a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </article>
        </div>

        {{/*  Column 2  */}}
        <div class="col-lg-12">
            {{/*  <aside id="meta">
                <h2>Derniers Articles</h2>
                <br>
                <ul class="list-group">
                    {{ range first 10 (where .Pages "Section" "News") }}
                    <li class="list-group-item"><a class="text-dark" href="{{ .Permalink }}">{{ .Title | truncate 40}}</a></li>
                    {{ end }}
                </ul>
                <div>
                    <section>
                        <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
                        <h5 id="wordcount"> {{ .WordCount }} Words </h5>
                    </section>
                    {{ with .Params.topics }}
                    <ul id="topics">
                        {{ range . }}
                        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ with .Params.tags }}
                    <ul id="tags">
                        {{ range . }}
                        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </aside>  */}}
        </div>
    </div>
</div>
{{ end }}