{{ define "main" }}
<div class="container" id="single">
    <div class="row">
        <div class="col-md-12">
            <article id="main">
                <div class="card">
                    <div class="card-body">
                            <h1 class="">{{ .Title }}</h1>
                            <div class="news_meta">
                            <h4 class="text-muted">{{ .PublishDate.Format "Monday, January 2, 2006" }}</h4>
                            {{ if .Params.Author }}
                                <span>{{ .Params.Author }}</span>     
                            {{ end }}
                            </div>
                            <hr>
                            <div>
                                <article id="content">
                                    {{ .Content }}
                                </article>
                            </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <aside id="meta">
                    <h2>Derniers Articles</h2>
                    <br>
                    <ul class="list-group">
                    {{ range first 10 (where .Pages "Section" "News") }}
                         <li class="list-group-item"><a class="text-dark" href="{{ .Permalink }}">{{ .Title | truncate 40}}</a></li>
                    {{ end }}
                    </ul>  
                <div>
                    <section>
                        <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
                        <h5 id="wordcount"> {{ .WordCount }} Words </h5>
                    </section>
                    {{ with .Params.topics }}
                    <ul id="topics">
                        {{ range . }}
                        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ with .Params.tags }}
                    <ul id="tags">
                        {{ range . }}
                        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div>
                    {{ with .PrevInSection }}
                    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                    {{ end }}
                </div>
            </aside>
        </div>
    </div>
</div>
{{ end }}