{{ define "main" }}
<main>
    <div class="container">
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        <header>
            <h1>{{.Title}}</h1>
            <hr>
        </header>
        {{.Content}}
        <div class="row">
            <div class="col-md-8">
                <!-- Ranges through content/news/*.md -->
                {{ range first 10 .Pages }}
                <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
                <div class="news_meta">
                    <span>By: Jordan Myller </span>//
                    <span class="badge badge-primary">{{ .PublishDate.Format "January 2, 2006" }}</span>
                </div>
                <br>
                <p>{{ .Summary }}</p>
                <div class="text-right">
                    <a class="btn btn-outline-dark btn-sm" href="{{.Permalink}}">READ MORE</a>
                </div>
                <hr>
                {{ end }}
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</main>
{{ end }}