{{ define "main" }}
<header class="main__header">
    <div class="container">
        <h1>{{.Title}}</h1>
        {{.Content}}
    </div>
</header>
<main>
    <div class="container" id="single">
        <div class="timeline-container timeline-theme-1">
            <div class="timeline js-timeline">
                {{ range .Pages }}
                <div data-time='{{ .Date.Format "2006" }}'>
                    your content or markup
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}